{% extends "base.html" %}
{% block uptitle %}history {% endblock %}

{% load endless %}

{% block title %}
    My Letters
{% endblock %}

{% block content %}
    <h3>Click on a subject and you will see the details.</h3>

    {% if my_letters_list %}
        <h3>
    <ul>
    {% paginate my_letters_list %}
    {% for letter in my_letters_list %}
        <h2><a href="/my_letters/{{ letter.id }}/">{{ letter.subject }}</a></h2>
    {% endfor %}
    {% show_pages %}
    </ul>
        </h3>
{% else %}
    <p>No letters are available.</p>
{% endif %}
{% endblock %}