{% extends "base.html" %}
{% block uptitle %}history {% endblock %}

{% load pagination_tags %}

{% block title %}
    My Letters
{% endblock %}

{% block content %}
    <h3>Click on a subject and you will see the details.</h3>

    {% if my_letters_list %}
        <h3>
    <ul>
    {% autopaginate my_letters_list 3 %}
    {% for letter in my_letters_list %}
        <h2><a href="/my_letters/{{ letter.id }}/">{{ letter.subject }}</a></h2>
    {% endfor %}
    {% paginate %}
    </ul>
        </h3>
{% else %}
    <p>No letters are available.</p>
{% endif %}
{% endblock %}