{% extends "base.html" %}
{% block uptitle %}send {% endblock %}
{% block title %}
    Send letter
{% endblock %}
<head>

    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">



 {% comment %}

  <script src="/static/js/bootstrap.js"></script>
      <script src="/static/js/jquery.min.js"></script>


    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    {% endcomment %}




</head>
{% block content %}
    <body>
        <form method="post" role="form">
            {% for field in form.visible_fields %}
            <div id="div_{{ field.html_name }}"
                 class="form-group{% if field.errors %} has-error{% endif %}">
                {{ field.label_tag }}
                {{ field }}
                <div class="text-muted pull-right">
                    <small>{{ field.help_text }}</small>
                </div>
                <div class="help-block">
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% csrf_token %}
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </body>

    {% comment %}
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="post">
    {% csrf_token %}
        <h3>
        <table>
            {{ form.as_table }}
        </table>
            </h3>
        <input type="submit" value="Submit">
    </form>
    {% comment %}
        <form action="/write/" method="post">
        {% csrf_token %}
        <p>Recipient: <input type="text" name="recipient" value="{{ recepient }}"></p>
        <p>Send to e-mail <input type="text" name="email" value="{{ email }}"></p>
        <p>Subject: <input type="text" name="subject" value="{{ subject }}"></p>
        <p>Message: <textarea name="message" rows="10" cols="50"></textarea></p>
        <p>Private: <input type="checkbox" name="private" value="{{ private }}"></p>
        <p>Deliver on: <input tipe="" name="" value="{{ time_delivered}} "></p>
        <input type="submit" value="Submit">
    </form>
    {% endcomment %}


    {% comment %}
 {{ form.media }}

 {% endcomment %}

{% endblock %}

{% block footer %}

    {%comment%}
{% block thanks %}{{ form.media }}{% endblock %}

{%endcomment%}
    {% endblock %}


